body {
	background-color: rgba(197, 21, 51, 1);
	font-size: 20px;
	font-family: Tahoma, Geneva, sans-serif;
	margin: 0;
	padding: 0;
}

nav {
	margin: 1% auto;
	width: 90%;
}

nav ul a {
	display: block;
	color: white;
	text-decoration: none;
}

/* to enable width resizeing */
nav ul {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

/* first li won't have 100% width */
nav > ul > li > ul li {
	width: 100%;
}

/* every single list element */
nav li {
	background-color: rgba(88, 12, 24, 1);
	box-shadow: 0px 6px 9px -2px rgba(0, 0, 0, 0.4);
	float: left;
	height: 2em;
	line-height: 2em;
	position: relative;
	text-align: left;
	transition: .5s;
}

nav li:hover {
	background-color: rgba(88, 12, 24, 0.8);
	/*border-bottom: 1px solid white;*/
	box-shadow: 0px 1px 9px -2px rgba(255, 255, 255, 1);
}

/* only first ul should be visible */
ul ul {
	display: none;
	position: absolute;
}

/* sub-sub list should be moved to right*/
ul ul ul {
	left: 100%;
	top: 0;
}

/* last sub-sub list should be moved to left */
nav > ul > li:last-child ul ul {
	left: -100%;
	top: 0;
}

/* hovering on first ul element should reveal sub uls */
li:hover > ul {
	display: block;
}

/* only first level */
nav > ul {
	margin: 0;
	padding: 0;
}

nav > ul > li {
	width: 18%;
	margin-left: 1%;
}

nav > ul > li:first-child {
	margin-left: 0;
}

nav > ul > li > a {
	padding-left: 10%;
}

/* only second level */
nav > ul > li > ul > li {
	margin-top: 1%;
}

/* only third level */
nav > ul > li > ul > li > ul > li {
	margin-left: 1%;
	margin-bottom: 1%;
}

/* second and first */
nav > ul ul a {
	padding-left: 5%;
}

@media screen and (max-width: 1240px) {
	nav {
		width: 98%;
	}

	nav > ul li {
		width: 100%;
	}

	nav li {
		float: none;
	}

	ul ul {
		display: block;
		position: initial;
	}
}